/* VideoComponent.css */
.video-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .video-item {
    margin: 0 10px;
  }
  
  .ws__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: center;
    margin-right: 1rem;
    margin-left: 3rem;
}