@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #9c65d7 1.84%, #ff7a33 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #844fbc -13.86%, #eb7c3f 99.55%);
  
  --color-bg: #cf8495;
  --color-footer : #fec4d2;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}